<link rel="stylesheet" href="/css/stylea.css">
<footer>
    <div class="legales">
        <div class="terminos"><a>Términos y condiciones</a></div>
        <div class="terminos"><a>Preguntas frecuentes</a></div>
        <div class="terminos"><a>Contéctenos</a></div>
    </div>
    <div class="pie">
        <div class="buscanos">Seguinos en las redes</div>
        <div class="redessociales">
            <div class="red"><i class="fab fa-facebook-square"></i></div>
            <div class="red"><i class="fab fa-twitter-square"></i></div>
            <div class="red"><i class="fab fa-youtube"></i></div>
            <div class="red"><i class="fab fa-pinterest"></i></div>
            <div class="red"><i class="fab fa-instagram"></i></div>
        </div>
    </div>
    <div class="suscribite"><button class="botonsuscribir"><a>Suscribite para más novedades</a></button></div>
</footer>