<header>
    <div class="barra1">
        <img class="logo" src="./img/logo-sin-fondo2.png">
        <div class="busqueda1">
            <form class="form1" action="" method="GET">
                <div class= "barrabusqueda1"><input type="text" name="busqueda" placeholder="Buscar cocinas, artículos"></input></div>
                <div class="boton"><button><i class="fa-solid fa-magnifying-glass"></i></button></div>
                </form>
        </div>
        <div class="textos">
            <div class="encabezados"><a href="/login">Log-in</a></div>
            <div class="encabezados"><a href="/registro"> Registrate</a></div>
            <div class="encabezados"><a href="/productos"> Productos</a></div>
        </div>
        <div class="inicio-carro">
            <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
            <div class="carrito">
            <a href="/carrito" class="fas fa-cart-shopping"></a>
            </div>
        </div>
    </div>
    </header>